#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label.ant-form-item-required {
  color: #FFF;
}

.activities-lists-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.activity-list,
.activity-hours-tally-list {
  list-style-type: none;
  padding: 0;
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  overflow: hidden;
}

.activity-hours-tally-list-item {
  border: 2px solid gray;
  border-top: none;
  padding: 8px;
}

.activity-hours-tally-list-item:first-child {
  border-top: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.activity-hours-tally-list-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}

.activity-list {
  border: 2px solid gray;
  border-radius: 10px;
  height: 800px;
}

.activity-list-item {
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
